{% extends 'base.html' %}


{% block app_content %}
    <div class="counter">{{ game.counter }}</div>
    <a class="btn btn-warning home" href="{{ url_for('index') }}">На главную</a>
    <a class="btn btn-info refresh" href="{{ url_for('live') }}">Создать новую жизнь</a>
    <table>
        {% for row in game.world %}
            <tr>
                {% for cell in row %}
                    <td class="{{ 'cell living-cell' if cell == 1 else ('cell' if cell == 0 else 'cell dead-cell')  }}"></td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        setInterval(() => window.location.reload(), 1000 / {{ game.generation_per_second }});
    </script>
{% endblock %}